@import '../abstracts/colors.scss';
@import '../abstracts/variables.scss';

.product-details {
  background: #fff;

  &__left {
    flex: 0 0 70%;
    text-align: justify;
  }

  &__right {
    flex: 0 0 30%;
    padding-right: 18.5px;
  }
}

.product {
  width: 60%;

  @media screen and (max-width: $lg) {
    width: 300px;
  }
}

.action-btn {
  width: 80%;
  background-color: $blue;
  color: #fff;
}

.not-found {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}
